name: icim
services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: ${DATABASE}
      POSTGRES_USER: ${USER}
      POSTGRES_PASSWORD: ${PASSWORD}
      TZ: Asia/Kuala_Lumpur
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    networks:
      - mynetwork
  pgadmin4:
    image: elestio/pgadmin:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${ADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${ADMIN_PASSWORD}
      PGADMIN_LISTEN_PORT: 8086
    ports:
      - "8086:8086"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge