[phases.setup]
nixPkgs = ["python311", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "cd icims && python manage.py migrate && cd .. && gunicorn icims.icims.wsgi --bind 0.0.0.0:$PORT --workers 2"
