Django
psycopg
python-dotenv
djangorestframework
pillow
django-environ
psycopg2
djangorestframework-simplejwt
geoip2
whitenoise
import_export
django-cors-headers
reportlab
pdfrw
python-dateutil
channels
channels-redis
websockets
uvicorn
asgiref
python-telegram-bot
urllib3
apscheduler
pytz
gunicorn
